stuff
node_modules
# node modules could lag down my computer and maybe other peopls to
.vs
.vscode
package-lock.json
.codesandbox
testing
*.tgz
tests/output
tests/images
.unlighthouse
test/node_modules
*.gpg
*.asc
